<% layout('../layout/boilerplate.ejs') %>
    <div class="black-friday-wrapper">
        <h1 class="friday">BLACK FRIDAY SALE</h1>

        <div class="jumbotron-wrapper">
            <div class="jumbotron">
                <div class="content">
                    <div class="top-line"></div>
                    <h3>Featured clothing</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos beatae rerum eligendi
                        fugit
                        animi cupiditate odio necessitatibus deleniti doloribus cumque tempore, dolores provident
                        nihil
                        quod optio delectus! Quaerat, id consequatur?</p>
                    <a href="/shop">
                        <button class="shop-button">Shop</button>
                    </a>
                </div>
                <img class="jumbo-photo" src="../public/photos/fashion.jpg" alt="">
            </div>
        </div>
    </div>