<% layout('../layout/boilerplate.ejs') %>

<div class="wrapper-product">
  <div class="info-wrapper">
    <div class="photos-wrapper">
      <img
        class="clothing-image"
        style="max-width: 550px"
        src=" <%=item.image %>"
      />
    </div>
    <div class="buy-wrapper">
      <div class="brand-wrapper">
        <h2 class="brand"><%= item.brand %></h2>
        <div class="description">
          <strong>Описание:</strong> Яке с ниска яка
        </div>
        <div class="price">Цена: <%= item.price %> лв.</div>
      </div>
      <div class="size-container" style="width: 80%; margin-bottom: 5%">
        <% if(session_id !=null) { %>
        <form id="cart-form" action="/addCart/<%= item.id %>" method="POST">
          <label for="quantity">Quantity</label>
          <input
            type="number"
            class="form-control"
            id="quantity"
            name="quantity"
            min="1"
            max="99"
            value="1"
          />
          <label for="size">Size</label>
          <select id="size" class="form-control" name="size">
            <option value="size" disabled selected>Size</option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
          <br />
          <button style="width: 100%" class="btn btn-dark" type="submit">
            Add to Cart
          </button>
        </form>
        <% } %>
      </div>
      <div class="delivery-wrapper">
        <div class="destination">
          <img class="gps" src="../public/photos/gps.png" alt="" />
          <div id="sofia">Доставка в: София</div>
        </div>
        <div class="standart-delivery">
          <img class="truck" src="../public/photos/truck.PNG" alt="" />
          <p class="delivery-p">
            <strong>Стандартна доставка:</strong> Безплатна Такса за обработка
            на плащане при доставка: 2 лв. на поръчка При плащане към момента на
            поръчка – такса за обработване не се начислява понеделник, 30
            ноември - сряда, 2 декември
          </p>
        </div>
        <div class="home-delivery">
          <img class="office" src="../public/photos/office.PNG" alt="" />
          <p class="delivery-p">
            <strong>Доставка до офис на куриер:</strong>Безплатна Такса за
            обработка на плащане при доставка: 2 лв. на поръчка При плащане към
            момента на поръчка – такса за обработване не се начислява Може да я
            вземете от Еконт София Арсеналски От понеделник, 30 ноември, след
            09:00
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
