<% layout('../layout/boilerplate.ejs') %>

<div class="main-page">
  <header>
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div
          class="carousel-item active"
          style="background-image: url('../public/photos/nike.webp')"
        ></div>
        <div
          class="carousel-item"
          style="
            background-image: url('../public/photos/women.webp');
            background-size: cover;
          "
        ></div>
        <div
          class="carousel-item"
          style="background-image: url('../public/photos/tommy_sports.jpeg')"
        ></div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>

  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="fw-light">Welcome to Genius Clothing</h1>
      <p class="lead">
        The leading streetwear site in the world.
        <button class="btn btn-dark">
          <a style="color: white" class="text-decoration-none" href="/shop"
            >Start shopping now</a
          >!
        </button>
      </p>
    </div>
  </section>
</div>
